template(name='carousel')
  #carousel-nav
    +nav_header
  .carousel-ss
    .ss-slides
      .ss-slide
        img(src='http://lorempixel.com/1400/400/animals/1')
        content
          .caption-wrap.animated.slideInLeft
            h3 Welcome
            p This is some random text added to see how it will look in the end....
      .ss-slide
        img(src='http://lorempixel.com/1400/400/animals/2')
        content
