<template name="home">

  <section class="bg-blue centered">
    <div class="container">
      <h1>Club News</h1>
      <div class="row">
        <div class="col-md-4">
          {{#each featuredPost}}
            <div class="news-item news-featured">
              <img src="images/200.png" />
              <h3>{{title}}</h3>
              <p>This is some text put here just to illustrate a sample of text...</p>
            </div>
          {{/each}}
        </div>
        <div class="col-md-8">
          <div class="row">

            {{#each posts}}
              <div class="col-sm-6">
                <div class="news-item">
                  <img src="images/200.png" class="pull-left" />
                  <div class="right">
                    <p>{{postdate formatDate}}</p>
                    <h4>{{title}}</h4>
                    <p>This is some text put here just to illustrate a sample of text...</p>
                  </div>
                </div>
              </div>
            {{/each}}

            <div class="col-sm-6">
              <div class="news-item">
                <button class="btn btn-xl">Get more</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="bg-white centered">
    <div class="container">
      <h1>This is the homepage</h1>
      {{#each posts}}
        <h1>{{title}}</h1>
      {{/each}}

      {{#if currentUser}}
        Hello, {{yo}}
      {{/if}}

    </div>
  </section>


</template>