<template name="admin_addtrainingpage">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Add Training Page</h1>
      <ol class="breadcrumb">
        <li>
          <a href="/admin"><i class="mdi-action-dashboard"></i> Dashboard</a>
        </li>
        <li>
          <a href="/admin/training"><i class="mdi-action-description"></i> Training Pages</a>
        </li>
        <li class="active">
          <i class="mdi-action-description"></i> Add Training Page
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Training Page</h3>
        </div>
        <div class="panel-body">

          {{#autoForm collection="Training" id="insertPost" type="insert" resetOnSuccess="true" }}
          <fieldset>
            {{> afQuickField name='title'}} {{> afQuickField name='content'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">Create Post</button>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>